.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-item {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display:  block;
    width: 14rem;
    background-color: rgb(200, 200, 200);
    border: 0.125rem solid rgb(100, 100, 100);
    border-radius: 0.5rem;
}

.gallery-item h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    font-size: 1rem;
    height: 3rem;
    padding: 0.25rem;
}

.gallery-item img {
    display: block;
    width: 100%;
    aspect-ratio: 1920/1440;
    object-fit: cover;
}